.columns {
    display: flex;
    width: calc(100% + var(--column-gap));
    margin: 0 calc(0px - (var(--column-gap) / 2));

    &:not(.is-xs) {
        @include breakpoint(xs) {
            flex-wrap: wrap;
        }
    }

    +.columns {
        margin-top: var(--column-gap);
    }
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 calc(var(--column-gap) / 2);

    @include breakpoint(xs) {
        flex: none;
        width: 100%;
    }

    &.is-narrow {
        flex: none;
        width: auto;
    }

    &.is-12,
    &.is-full {
        @include breakpoint(sm) {
            flex: none;
            width: 100%;
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: 100%;
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: 100%;
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: 100%;
            }
        }
    }

    &.is-11 {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 11);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 11);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 11);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 11);
            }
        }
    }

    &.is-10 {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 10);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 10);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 10);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 10);
            }
        }
    }

    &.is-9,
    &.is-three-quarters {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 9);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 9);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 9);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 9);
            }
        }
    }

    &.is-8,
    &.is-two-thirds {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 8);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 8);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 8);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 8);
            }
        }
    }

    &.is-7 {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 7);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 7);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 7);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 7);
            }
        }
    }

    &.is-6,
    &.is-half {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 6);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 6);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 6);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 6);
            }
        }
    }

    &.is-5 {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 5);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 5);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 5);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 5);
            }
        }
    }

    &.is-4,
    &.is-one-third {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 4);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 4);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 4);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 4);
            }
        }
    }

    &.is-3,
    &.is-one-quarter {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 3);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 3);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 3);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 3);
            }
        }
    }

    &.is-2 {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 2);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 2);
            }
        }


        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 2);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 2);
            }
        }
    }

    &.is-1 {
        @include breakpoint(sm) {
            flex: none;
            width: calc(100% / 12 * 1);
        }

        &-md {
            @include breakpoint(md) {
                flex: none;
                width: calc(100% / 12 * 1);
            }
        }

        &-lg {
            @include breakpoint(lg) {
                flex: none;
                width: calc(100% / 12 * 1);
            }
        }

        &-xl {
            @include breakpoint(xl) {
                flex: none;
                width: calc(100% / 12 * 1);
            }
        }

    }

}