.level {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint(sm) {
        flex-direction: row;
    }

    &.is-reversed {
        .level-left {
            order: 1;
            margin-top: 1rem;

            @include breakpoint(sm) {
                margin-top: unset;
            }
        }

        .level-right {
            order: 0;
            margin-top: 0;
        }

        @include breakpoint(sm) {
            .level-left {
                order: 0;
            }

            .level-right {
                order: 1;
            }
        }
    }

    &.is-fullwidth {

        .level-left,
        .level-right {
            width: 100%;
        }
    }

    .level-right {
        margin-top: 1rem;

        @include breakpoint(sm) {
            margin-top: unset;
            margin-left: 1rem;
        }
    }
}