.messages {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 0.5rem;

    width: 100%;

    &.are-small {
        .message {
            .message-body {
                font-size: var(--font-size-7);

                &:only-child {
                    padding: .25rem 1rem;
                }
            }
        }
    }
}

.message {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: var(--lightgray);

    @include radius;

    .message-title {
        padding: .75rem 1rem;

        @include radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        background-color: var(--gray);
        color: var(--black);

        .delete {
            position: absolute;
            top: .5rem;
            right: .5rem;
        }
    }

    .message-body {
        width: 100%;

        padding: .75rem 1rem 1rem;
        @include radius;

        @include content;

        &:only-child {
            padding: 1rem;
            padding-right: 2rem;
            border-left: 0.25rem solid var(--gray);
        }

        .delete {
            position: absolute;
            top: .5rem;
            right: .5rem;
        }
    }

    &.is-white {
        background-color: var(--white);

        .message-body {
            border-radius: 0;
        }

        &:hover {
            background-color: var(--lightgray);
        }
    }

    &.is-dark {
        .message-title {
            background-color: var(--black);
            color: white;
        }

        .message-body:only-child {
            border-color: var(--black);
        }
    }

    &.is-info {
        background-color: var(--bgblue);
        color: var(--darkblue);

        .message-title {
            background-color: var(--blue);
            color: white;
        }

        .message-body:only-child {
            border-color: var(--blue);
        }
    }

    &.is-success {
        background-color: var(--bggreen);
        color: var(--darkgreen);

        .message-title {
            background-color: var(--green);
            color: white;
        }

        .message-body:only-child {
            border-color: var(--green);
        }
    }

    &.is-warning {
        background-color: var(--bgyellow);
        color: var(--darkyellow);

        .message-title {
            background-color: var(--yellow);
            color: white;
        }

        .message-body:only-child {
            border-color: var(--yellow);
        }
    }

    &.is-danger {
        background-color: var(--bgred);
        color: var(--darkred);

        .message-title {
            background-color: var(--red);
            color: white;
        }

        .message-body:only-child {
            border-color: var(--red);
        }
    }

    &.is-small {
        font-size: var(--font-size-7);
    }

    &.is-normal {
        font-size: var(--font-size-6);
    }

    &.is-medium {
        font-size: var(--font-size-5);
    }

    &.is-large {
        font-size: var(--font-size-4);
    }
}