.modal-tester {
    .modal-background {
        background-color: var(--darkblack);
    }
}

.modal-tester-select {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 101;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    &.is-active {
        display: flex;
    }
}

.modal-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--color-modalBackground);
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    margin: 0;
    padding: 0;

    border: 0;
    background-color: transparent;

    &:before {
        content: '\f00d';
        @include fontawesome(light);
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2em;
        height: 2em;
    }
}

.modal-wrapper {
    @include box;

    width: 90vw;
    max-width: 45rem;
    max-height: calc(100vh - 10rem);

    overflow: hidden;

    &.is-clipped {
        overflow-y: auto;
    }

    &.is-card {
        max-width: 36rem;
    }
}


.modal-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    &.is-reversed {
        @include breakpoint(xs) {
            .panel-left {
                order: 1;
            }

            .panel-right {
                order: 0;
            }
        }
    }

    &.is-card {
        @include breakpoint(sm) {
            grid-template-columns: auto 15rem;
        }
    }
}
