.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    margin: 0 auto;

    background-color: var(--white);

    // @include shadow;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: var(--navbar-height-mobile);

        transition: padding .25s, height .5s;


        >.navbar-brand {
            margin-left: -.75rem;
        }

        @include breakpoint(sm) {
            height: var(--navbar-height);
        }
    }

    &.is-scroll {
        .container {
            height: var(--navbar-height-mobile-onscroll);

            @include breakpoint(sm) {
                height: var(--navbar-height-onscroll);
            }
        }
    }

    &.is-sticky {
        position: sticky;
        top: 0;
        z-index: 99;
    }

    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }

    &.is-bordered {
        @include border(bottom);
    }
}

.navbar-menu {
    display: none;
    align-items: center;

    @include breakpoint(sm) {
        display: flex;
    }
}

.navbar-end {
    margin-left: auto;
}

.navbar-item,
.navbar-link {
    display: block;
    line-height: 1.5;
    padding: 0 .75rem;
    position: relative;
    user-select: none;
}

.navbar-link:hover {
    color: var(--navbar-link-hover);
}

// NAVBAR LOGO

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar-logo-image {
        height: 2.5rem;
        transition-duration: .25s;

        @include breakpoint(sm) {
            height: 4rem;
        }

        +.navbar-logo-text {
            margin-left: 1rem;
        }
    }

    .navbar-logo-text {
        height: 2.5rem;
        transition-duration: .25s;

        @include breakpoint(sm) {
            height: 2.5rem;
        }
    }
}


.navbar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.5rem;
    height: 1.5rem;

    margin-left: auto;

    &:before {
        content: '\f805';
        @include fontawesome(light);
    }

    &:hover {
        color: var(--navbar-link-hover);
    }

    @include breakpoint(sm) {
        display: none;
    }

    &.is-active {
        +.navbar-menu {
            position: fixed;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100vw;
            height: 100vh;

            background: var(--white);

            .navbar-item {
                font-size: 2em;

                &:not(:last-child) {
                    margin-bottom: 1em;
                }
            }
        }
    }
}

.navbar-menu-close {
    position: fixed;
    top: 2em;
    right: 2em;

    @include breakpoint(sm) {
        display: none;
    }
}

.navbar.is-scroll {
    .navbar-logo {
        .navbar-logo-image {
            @include breakpoint(sm) {
                height: 2.5rem;
            }
        }

        .navbar-logo-text {
            @include breakpoint(sm) {
                height: 1.5rem;
            }
        }
    }
}