.box.is-widget.is-link .box-content ul {
    &:first-child:last-child {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        margin: -1rem;

        li {
            display: block;

            width: 100%;
            padding: 1rem 1.5rem;

            +li {
                @include border(top);
            }

            &:hover {
                background-color: var(--gray-25);
            }
        }
    }
}
