.input,
.textarea {
    @include button;
    box-shadow: none;

    width: 100%;
    min-height: 2.5rem;

    padding: .5rem .75rem;

    font-size: var(--font-size);

    box-sizing: border-box;
    user-select: text;

    &.is-transparent {
        background-color: transparent;
        border: 0;
    }
}

.image-upload {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        padding: 1rem;

        background-color: rgba(black, .25);
        color: var(--white);

        cursor: pointer;
        transition-duration: .2s;

        &:before {
            content: '\f093';
            @include fontawesome(light);
        }

        &:after {
            // content: 'Upload ảnh';
            @include smallcaps;
        }

        &:hover {
            background-color: rgba(black, .75);
        }
    }

    &.has-image {
        label {
            top: unset;
            bottom: 0;

            justify-content: flex-start;
            flex-direction: row;

            height: 3rem;

            &:after {
                content: 'Upload ảnh';
                margin-left: .75rem;
            }
        }
    }
}

figure.image {
    img[src*='/'] {
        +.image-upload {
            label {
                top: unset;
                bottom: 0;

                justify-content: flex-start;
                flex-direction: row;

                height: 2.625rem;

                background-color: rgba(black, .65);


                &:after {
                    content: 'Upload ảnh';
                    margin-left: .75rem;
                }
            }
        }
    }
}