.select {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 2.625em;
    min-width: 10em;

    vertical-align: bottom;

    @include box;

    select {
        @include radius;

        &:not([multiple]) {
            -webkit-appearance: none;

            border: none;

            height: 100%;
            width: 100%;

            padding: .5em;
            padding-right: 2.5em;
        }
    }

    &:after {
        content: '\f107';
        @include fontawesome(light);

        position: absolute;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2.5rem;
        height: 100%;

        user-select: none;
        pointer-events: none;
    }
}