html {
    font-size: var(--font-size-mobile);
    overflow-x: hidden;
    box-sizing: border-box;

    @include breakpoint(sm) {
        font-size: var(--font-size);
    }
}

body {
    background-color: var(--background);

    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-mobile);
    color: var(--black);
    line-height: var(--line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke-width: 0.2px;

    @include breakpoint(sm) {
        font-size: var(--font-size);
    }
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    color: var(--white);
    background: var(--blue);
}