@mixin border($side: null) {
    border-color: var(--border-color);
    border-style: solid;

    @if $side==top {
        border-top-width: var(--border-width);
    }

    @else if $side==right {
        border-right-width: var(--border-width);
    }

    @else if $side==bottom {
        border-bottom-width: var(--border-width);
    }

    @else if $side==left {
        border-left-width: var(--border-width);
    }

    @else if $side==all {
        border-width: var(--border-width);
    }

    @else {
        border-width: var(--border-width);
    }
}

@mixin radius {
    border-radius: var(--border-radius);
}

@mixin shadow {
    box-shadow: 0 0 0 1px var(--shadow);
}


@mixin box {
    position: relative;

    background-color: var(--white);

    @include border;
    @include radius;
    // @include shadow;

    .box-title {
        // @include border(bottom);
        margin-bottom: 0;
    }
}

.box {
    @include box;
}

.box-title {
    width: 100%;
    padding: .75rem 1rem;
    margin: 0 auto .5rem;

    >.dropdown {
        position: absolute;
        top: .75rem;
        right: 1rem;
    }

    &.is-bordered {
        @include border(bottom);
        border-color: var(--border-color-light);
    }

    >.is-float-right {
        position: absolute;
        top: .75rem;
        right: 1rem;
    }
}

.box-content {
    padding: 1rem;

    width: 100%;
    max-width: 100%;
}

.no-padding {
    padding: 0 !important;
}

.ui-section {
    +.ui-section {
        margin-top: 2rem;
    }

    >.title {
        a {
            opacity: 0;
            color: var(--gray);

            transition: all .1s;

            &:hover {
                color: var(--darkgray);
            }
        }
    }

    &:hover {
        >.title {
            a {
                opacity: 1;
            }
        }
    }
}

.ui-preview {
    @include box;

    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: minmax(min-content, max-content);

    margin: 1rem auto;
    padding: 1rem;

    background-color: var(--white);
    transition-duration: .2s;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: var(--gray-25);
    }
}

.ui-navigation {
    display: grid;
    grid-gap: .5rem;
    grid-auto-rows: minmax(min-content, max-content);

    >li {
        margin-bottom: .25rem;

        >a {
            font-weight: 600;
        }

        >ul {
            columns: 2;

            color: var(--darkgray);

            li {
                margin-top: .25rem;

                &:before {
                    content: '+ ';
                }
            }
        }
    }
}

.box-wrapper {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 1rem;
}