.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.is-rounded {
        width: 1.5em;
        height: 1.5em;

        background-color: currentColor;
        border-radius: 50%;

        i {
            display: block;
            color: var(--white);
        }
    }
}

span.icon+span,
span+span.icon {
    margin-left: .25em;
}