.skeleton {
	@include shimmer;

	width: 100%;
	color: transparent;

	&:not(.is-bordered) {
		border-radius: 2px;
	}

	&:not(.image) {
		display: inline-flex;
		height: 1.25rem;

		+.skeleton {
			margin-top: 0.25rem;
		}
	}

	* {
		opacity: 0;
	}

	&:not(:last-of-type) {
		margin-bottom: 0.25rem;
	}

	&.is-1 {
		flex: none;
		width: calc(100% / 12 * 1);
	}

	&.is-2 {
		flex: none;
		width: calc(100% / 12 * 2);
	}

	&.is-3,
	&.is-one-quarter {
		flex: none;
		width: calc(100% / 12 * 3);
	}

	&.is-4,
	&.is-one-third {
		flex: none;
		width: calc(100% / 12 * 4);
	}

	&.is-5 {
		flex: none;
		width: calc(100% / 12 * 5);
	}

	&.is-6,
	&.is-half {
		flex: none;
		width: calc(100% / 12 * 6);
	}

	&.is-7 {
		flex: none;
		width: calc(100% / 12 * 7);
	}

	&.is-8,
	&.is-two-thirds {
		flex: none;
		width: calc(100% / 12 * 8);
	}

	&.is-9,
	&.is-three-quarters {
		flex: none;
		width: calc(100% / 12 * 9);
	}

	&.is-10 {
		flex: none;
		width: calc(100% / 12 * 10);
	}

	&.is-11 {
		flex: none;
		width: calc(100% / 12 * 11);
	}

	&.is-12,
	&.is-full {
		flex: none;
		width: 100%;
	}
}